<!doctype html>
<html lang="en">

<head>
    <title>Trang chủ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="container">
        <h1>WELLCOME</h1>
        <div class="detail w-100">
            <div class="menu">
                <div class="_1item w-60">STT</div>
                <div class="_1item pl-4 w-100">Job của bạn</div>
            </div>
            <div class="content mt-4 w-100">
                <% if(data) data.map((item, index)=>{%>
                <div class="_1job">
                    <div class="stt w-60"><%= index + 1 %></div>
                    <div class="job_code w-50 font-weight-bold"><%= item.jobCode %></div>
                    <div class="them btn btn-success mr-3">Thêm báo giá</div>
                    <div class="sua btn btn-warning mr-3">Sửa báo giá</div>
                    <div class="xoa btn btn-danger mr-3">Xóa job</div>
                    <div class="sua btn btn-warning mr-3">Sửa tên</div>
                </div>

                <hr>
                <% })%>
                <form action="/them-job" method="post" class="them_job">
                    <input name="jobCode" type="text" placeholder="Nhập job code của bạn..." class="w-25 mr-4">
                    <input class="btn btn-success t1" type="submit" value="Thêm JOB">
                </form>

            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>