<!doctype html>
<html lang="en">

<head>
    <title>Bảng báo giá</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/baogia.css">
</head>

<body>
    <div class="container">
        <h2>BẢNG BÁO GIÁ</h2>
        <table>
            <tr>
                <td><b>Bên mua </b></td>
                <td><b>: Công ty TNHH 3M</b></td>
                <td><b>Bên bán </b></td>
                <td><b>: CTy CP Truyền Thông Khang</b></td>
            </tr>
            <tr>
                <td>Địa chỉ </td>
                <td>: Tầng 20, 1060 Nguyễn Văn Linh, P.Tân Phong, Q.7</td>
                <td>Số </td>
                <td>: 3M-CAT-0528</td>
            </tr>
            <tr>
                <td>ĐT </td>
                <td>: 08 5416 0429</td>
                <td>Ngày </td>
                <td>: 28-05-2019</td>
            </tr>
            <tr>
                <td>FAX </td>
                <td>: 08 5145 2569</td>
                <td>Ver. </td>
                <td>: 1</td>
            </tr>
            <tr>
                <td>Người phụ trách </td>
                <td>: Ms. Sophie</td>
                <td>Người phụ trách </td>
                <td>: Ms. Diệu</td>
            </tr>
            <tr>
                <td>E-mail </td>
                <td>: slam3@333.com</td>
                <td>E-mail </td>
                <td>: Hari.tran@khanggroup.com</td>
            </tr>
        </table>
        <div class="dear">Dear Ms. Sophie,</div>
        <p>Trước tiên, Công ty CP Truyền Thông Khang xin chân thành cảm ơn Quý công ty đã lựa chọn & tạo cơ hội cho chúng tôi được tham gia thực hiện công việc này. Xin trân trọng gởi đến Quý công ty bảng báo giá với nội dung chi tiết như sau:</p>
        <!-- end top -->
        <div class="body">
            <table>
                <caption><b><i>Đơn vị: VND</i></b></caption>
                <tr>
                    <td colspan="3">Chi tiết</td>
                    <td>Số lượng</td>
                    <td>Đơn giá</td>
                    <td>Thành tiền</td>
                </tr>
                <tr>
                    <td colspan="6">A. In ấn thành phẩm</td>
                </tr>
                <tr>
                    <td rowspan="5">1</td>
                    <td colspan="2">Chăn làm ấm PW 675</td>
                    <td rowspan="5">1.500</td>
                    <td rowspan="5">8.000</td>
                    <td rowspan="5">12.000.000</td>
                </tr>
                <tr>
                    <td>Kích thước</td>
                    <td>(20.5 x 29.5) cm x 8 trang luôn bìa</td>
                </tr>
                <tr>
                    <td>Chất liệu</td>
                    <td>Couche 200</td>
                </tr>
                <tr>
                    <td>Qui cách in</td>
                    <td>Bìa + Ruột: In 4 màu 2 mặt</td>
                </tr>
                <tr>
                    <td>Thành phẩm</td>
                    <td>
                        <li>Cán màn bóng bài 1 và 4</li>
                        <li>Bấm 2 kim chiều 29.5 cm, cắt thành phẩm </li>
                    </td>
                </tr>
            </table>
        </div>
        <!-- end body -->
        <div class="content">
            <h3>GIÁ TRÊN CHƯA BAO GỒM 10% VAT</h3>
            <p><b><i><u>Các khoản khác:</u></i></b></p>
            <ol>
                <li>Thời gian giao hàng: Trong vòng 05 - 07 ngày sau khi ký hợp đồng (hoặc đơn đặt hàng) & duyệt mẫu.
                </li>
                <li>Thanh toán: Chuyển khoản.<br />
                    - Thanh toán toàn bộ giá trị hợp đồng của giá trị hợp đồng & toàn bộ các chi phí phát sinh trong
                    vòng 90 ngày sau khi hoàn tất việc giao & nhận thành phẩm.
                </li>
            </ol>
            <p>Những thông tin khác, vui lòng liên hệ trực tiếp với công ty chúng tôi thông qua số điện thoại hoặc số fax theo danh sách phía dưới. Chúng tôi mong nhận được sự hợp tác chặt chẽ & lâu dài cùng Quý công ty. Xin chân thành cảm ơn!<br/>Trân trọng,</p>
        </div>
        <!-- end content -->
        <div class="footer">
            <div class="left">
                <p><b>Khang visual communication</b></p>
                <img src="../image/chu ki.png" alt="">
                <p class="vuong_tung"><b>Mr.Vương Tùng</b></p>
                <p><b><i>Account Director</i></b></p>
            </div>
            <div class="right">
                <p><b>Khách hàng ký duyệt </b></p>
                <p style="margin-top: 7rem;"><b>Mr./Ms.,</b></p>
                <p style="margin-top: 5rem;"><b>Chức vụ</b></p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>